.btn-filter {
  font-size: .65rem;
  background-color: #ffffff;
  border-color: $secondaryColor;
  color: $secondaryColor;
  &:hover {
    background-color: $secondaryColor;
    color: #ffffff;
  }
  &:focus {
    background-color: $primaryColor;
    color: #ffffff;
  }
  &:active {
    background-color: $primaryColorDark;
    color: #ffffff;
  }
}

.btn-filter__controller {
  width: fit-content;
  align-self: center;
}

.btn-primary {
  &:focus {
  background-color: $primaryColor;
  border-color: $primaryColor;
  }
}

.btn-primary:not(:disabled):not(.disabled).active {
  background-color: $primaryColor;
  border-color: $primaryColor;

}

@media only screen and (max-width: 415px) {

}