.hero-image {
  height: 300px;
};

.wings-hero-image {
  background-image: url("../assets/images/logos/chicken-wings-2210462_1920.jpg");    
  width: 100%;
  height: 100vh;
  position: absolute;
  margin-top: -500px;
  z-index: -1;
}

.hero-container {
  padding: 0;
}

.white-bg {

  // &::after{

  text-align: center;
  background-color: white;
  margin: 12px 0;
  opacity: .8;
  border-radius: 10px;
  // }

}

.main-header {
  font-size: 4rem;
};

.main-subhead {
  font-size: 1.75rem;
}

.main-text-box {
  margin-left: 20px;
}

.jumbotron {
  background-color: rgb(63, 117, 216);
  color: #ffffff;
}


@media only screen and (max-width: 415px) {
  .main-text-box {
    padding-bottom: 35px;
  }

  .main-header {
    display: none;
  }
}