.landing-hero-image {
  height: 300px;
};

.wings-hero-image {
  background-image: url("../assets/images/hero/landing-hero-desktop.jpg");    
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: -1;
}

.hero-container {
  padding: 0;
}

.white-bg {
  text-align: center;
  background-color: white;
  margin: 12px 0;
  opacity: .8;
  border-radius: 10px;
}

.main-header {
  font-size: 4rem;
};

.main-subhead {
  font-size: 1.75rem;
}

.main-text-box {
  margin-left: 20px;
}

.jumbotron {
  background-color: rgb(63, 117, 216);
  color: #ffffff;
}


@media only screen and (max-width: 415px) {
  .main-text-box {
    margin: 0;
    margin-top: 25px;
    margin-bottom: 25px;
  }

  .main-header {
    display: none;
  }

  .landing-hero-image {
    display: none;
  };

  .wings-hero-image {
    background-image: url("../assets/images/hero/landing-hero-mobile.jpg");
  }

  .hero-container {
    display: none;
  }
}