.landing-sub-head-card {
  background: transparent;
  height: 120px;
  box-shadow: none;
  margin: 0;
}


@media only screen and (max-width: 415px) {
  .landing-sub-head-card {
    background: transparent;
    height: fit-content;
    padding: 10px 0;
    box-shadow: none;
    margin: 0;
  }

}