.wings-bg-image {
    background-image: url("../assets/images/logos/chicken-wings-2210462_1920.jpg");    
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: -1;
}

.bWingBorder {
    border: 2px  solid #d8623f;
    border-radius: 10px;
    z-index: 1;
}

.bWingBorder2 {
    border: 2px  solid #3f75d8;
    border-radius: 10px;
    z-index: 1;
}

.dropdown-menu {
    max-height: 250px;
    overflow-y: auto;
}

.bWingRow {
    border-radius: 20px;
}

.bWingButton {
    padding: 10px 15px;
    color: #d8623f;
    border-radius: 10px;
    border: 2px solid  #d8623f;
    text-align: center;

    &:hover {
        background-color: #d8623f;
        color: black;
    }

    &:active {
        background-color: #1c53b9;
        color: white;
        transform: translateY(4px);
    }

}

.hero-image {
  width: 300px;
}
