nav {
  background-color: $secondaryColorDark;
};

.navbar {
  padding: 1rem 1rem;
  // width: 80%;
}

.nav-image {
  width: 100px;
  transform: rotate(-10deg);
};

.navbar-brand {
  font-size: 1.75rem;
  margin-left: 15px;
};

