.card {
  background-image: radial-gradient(farthest-corner at 10px 10px, #ffffff, #f5f5f5);
  color: #000000;
  box-shadow: 0px 30px 60px 0px rgba(0, 0, 0, .5);
  border: none;
  border-radius: 5px;
  height: 240px;
  margin: 1rem;
  position: relative;
  width: 200px;
  text-align: center;
} 

.isSpecial {
  background-image: radial-gradient(farthest-corner at 10px 10px, $primaryColor, $primaryColorDark);
  .btn-primary {
    color: $secondaryColor;
    background-color: #ffffff;
    border-color: #ffffff;
    &:hover {
      color: $primaryColor;
    }
  }
}

.card > .content {
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 15px;
  list-style-type: none;
}

.card-title {
  font-size: 22px;
}

.content > ul {
  margin: 0;
  padding: 0;
}

.card > .content > ul > li {
  margin-top: 18px;
list-style-type: none;  
}

.btn-primary {
  color: $secondaryColor;
  background-color: #ffffff;
  border-color: #2d30d4;
}

.tile-header {
  color: #ffffff;
  text-align: center;
  font-size: 2.5rem;
  line-height: 1.6;
}

.tile-subhead {
  color: #ffffff;
  text-align: center;
  font-size: 1rem;
  line-height: .5;
  // background-color: $primaryColor;
  width: fit-content;
  padding: .75rem 1rem;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}


@media only screen and (max-width: 415px) {
  .card {
    width: 150px;
    height: 275px;
    padding-top: 12px;
  }

  .card-title {
    font-size: 26px;
  }

  .card-neighborhood {
    font-size: 20px;
  }

  .card-price {
    font-size: 24px;
  }

  .card > .content {
    font-size: 12px;
  }

  .card > .content > ul > li {
    margin-top: 4px;
  }

  .tile-header {
    color: #ffffff;
    text-align: center;
    font-size: 2rem;
    line-height: 1.6;
  }

}
