.day-of-week {
  text-align: center;
  width: 23%;
  font-size: 1.2rem;
}

.little-op {
  position: relative;
  height: 60%;
  width: 100%;
  margin-bottom: 50px;
  &::after{
    content: "";
    background: #ffffff;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0.6;
    box-shadow: 20px 10px 50px -5px;
    z-index: -1;
  }
}

.table {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

.table-special {
  background-color: $primaryColor !important;
  color: #ffffff;
}

.table-striped tbody tr:nth-of-type(even) {
  background-color: #e0e0e0;
  color: #000000;
  opacity: .8;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: #ffffff;
  color: #000000;
}

thead {
  background-color: $secondaryColorDark;
  color: #ffffff;
  text-align: center;
}


td {
  text-align: center;
}

.fa-drumstick-bite {
  font-size: 1.5rem;
  margin-left: .5rem;
}

@media only screen and (max-width: 415px) {
  .day-of-week {
    width: 18%;
    font-size: 1rem;
  }

  .table {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
  }
}