.primary-color {
  color: #d8623f;
}

.dark-bg {
  background-color: #1c53b9;
}

a {
  color: white;
}

a:hover {
  color: white;
  text-decoration: none;
}

nav {
  background-color: #1c53b9;
}

.navbar {
  padding: 1rem 1rem;
}

.nav-image {
  width: 100px;
  -webkit-transform: rotate(-10deg);
          transform: rotate(-10deg);
}

.navbar-brand {
  font-size: 1.75rem;
  margin-left: 15px;
}

@media only screen and (max-width: 415px) {
  .nav-image {
    width: 75px;
  }
  .navbar-brand {
    font-size: 1.4rem;
    margin-left: 10px;
  }
}

.landing-hero-image {
  height: 300px;
}

.wings-hero-image {
  background-image: url("../assets/images/hero/landing-hero-desktop.jpg");
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: -1;
}

.hero-container {
  padding: 0;
}

.white-bg {
  text-align: center;
  background-color: white;
  margin: 12px 0;
  opacity: .8;
  border-radius: 10px;
}

.main-header {
  font-size: 4rem;
}

.main-subhead {
  font-size: 1.75rem;
}

.main-text-box {
  margin-left: 20px;
}

.jumbotron {
  background-color: #3f75d8;
  color: #ffffff;
}

@media only screen and (max-width: 415px) {
  .main-text-box {
    margin: 0;
    margin-top: 25px;
    margin-bottom: 25px;
  }
  .main-header {
    display: none;
  }
  .landing-hero-image {
    display: none;
  }
  .wings-hero-image {
    background-image: url("../assets/images/hero/landing-hero-mobile.jpg");
  }
  .hero-container {
    display: none;
  }
}

.table-wrapper, .filter-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  padding: 10px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-line-pack: start;
      align-content: flex-start;
}

@media only screen and (max-width: 415px) {
  .filter-wrapper {
    padding: 0;
  }
}

.card {
  background-image: radial-gradient(farthest-corner at 10px 10px, #ffffff, #f5f5f5);
  color: #000000;
  -webkit-box-shadow: 0px 30px 60px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 30px 60px 0px rgba(0, 0, 0, 0.5);
  border: none;
  border-radius: 5px;
  height: 240px;
  margin: 1rem;
  position: relative;
  width: 18rem;
  text-align: center;
}

.isSpecial {
  background-image: radial-gradient(farthest-corner at 10px 10px, #d8623f, #9e3718);
}

.isSpecial .btn-primary {
  color: #3f75d8;
  background-color: #ffffff;
  border-color: #ffffff;
}

.isSpecial .btn-primary:hover {
  color: #d8623f;
}

.card > .content {
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 15px;
  list-style-type: none;
}

.card-title {
  font-size: 22px;
}

.content > ul {
  margin: 0;
  padding: 0;
}

.card > .content > ul > li {
  margin-top: 18px;
  list-style-type: none;
}

.btn-primary {
  color: #3f75d8;
  background-color: #ffffff;
  border-color: #2d30d4;
}

.tile-header {
  color: #ffffff;
  text-align: center;
  font-size: 2.3rem;
  line-height: 1.6;
}

.tile-subhead {
  color: #ffffff;
  text-align: center;
  font-size: 1rem;
  line-height: .5;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: .75rem 1rem;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

.store-row {
  display: none;
}

.sub-head-container {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

@media only screen and (max-width: 415px) {
  .sub-head-container {
    padding: 0;
  }
  .table-wrapper {
    padding: 0;
    display: inline-block;
    margin-top: 15px;
    margin-bottom: 50px;
    width: 100%;
  }
  .store-card {
    display: none;
  }
  .store-row {
    display: inline-block;
    border-bottom: 1px solid #000000;
    width: 100%;
    background: #ffffff;
    padding: 12px 16px;
  }
  .store-row__head {
    display: block;
    margin: 0 auto;
  }
  .store-row__price {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
  .store-row__1 {
    text-align: center;
  }
  .store-row__2 {
    margin-top: 10px;
  }
  .btn-restaurant {
    background-color: #9e3718;
    color: #ffffff;
    border: 1px solid #9e3718;
    float: right;
    font-size: .75rem;
  }
  .btn-restaurant:hover {
    background-color: #ffffff;
    color: #9e3718;
  }
  .isSpecial {
    background-image: radial-gradient(farthest-corner at 10px 10px, #d8623f, #9e3718);
    color: #ffffff;
  }
  .isSpecial .btn {
    color: #9e3718;
    background-color: #ffffff;
    border-color: #ffffff;
  }
  .isSpecial .btn:hover {
    color: #d8623f;
  }
}

.day-of-week {
  text-align: center;
  width: 23%;
  font-size: 1.2rem;
}

.table {
  width: 65%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: #d8623f;
  color: #ffffff;
}

thead {
  background-color: #3f75d8;
  color: #ffffff;
  text-align: center;
}

td {
  text-align: center;
}

.fa-w-16 {
  font-size: 1.5rem;
  margin-left: .5rem;
}

@media only screen and (max-width: 415px) {
  .day-of-week {
    width: 18%;
    font-size: 1rem;
  }
  .table {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
  }
}

.wings-bg-image {
  background-image: url("../assets/images/logos/chicken-wings-2210462_1920.jpg");
  height: 135vh;
  width: 100vw;
  position: absolute;
  top: 0;
  z-index: -1;
}

.bWingBorder {
  border: 2px  solid #d8623f;
  border-radius: 10px;
  z-index: 1;
}

.bWingButton {
  padding: 10px 15px;
  color: #d8623f;
  border-radius: 10px;
  border: 2px solid  #d8623f;
  text-align: center;
}

.bWingButton:hover {
  background-color: #d8623f;
  color: black;
}

.bWingButton:active {
  background-color: #1c53b9;
  color: white;
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
}

.hero-image {
  width: 300px;
}

.dropdown {
  margin-left: auto;
  margin-right: auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.btn-filter {
  font-size: .65rem;
  background-color: #ffffff;
  border-color: #3f75d8;
  color: #3f75d8;
}

.btn-filter:hover {
  background-color: #3f75d8;
  color: #ffffff;
}

.btn-filter:focus {
  background-color: #d8623f;
  color: #ffffff;
}

.btn-filter:active {
  background-color: #9e3718;
  color: #ffffff;
}

.landing-sub-head-card, .landing-sub-head-card-button {
  background: transparent;
  height: 120px;
  -webkit-box-shadow: none;
          box-shadow: none;
  margin: 0;
  width: 18rem;
}

@media only screen and (max-width: 415px) {
  .landing-sub-head-card {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 10px 0;
  }
  .landing-sub-head-card-button {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 10px 0;
    width: 9rem;
  }
  .btn-group {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/*# sourceMappingURL=style.css.map */