$primaryColor: #d8623f;
$primaryColorDark: #9e3718;

$secondaryColor: #3f75d8;
$secondaryColorDark: #1c53b9;

.primary-color {
  color: $primaryColor;
}

.dark-bg {
  background-color: $secondaryColorDark;
}

a {
  color: white;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

@import "./nav";
@import "./hero-landing";
@import "./card-wrapper";
@import "./restaurant-cards";
@import "./table-individual";
@import "./login";
@import "./restaurant-dropdown";
@import "./filter-buttons";
@import "./landing-filter-row-cards"

